dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a0257f17-f000-45f1-8bad-7389ce8dd7db" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="459ff838-76f0-464a-9188-1770d557d8ee" >
		<http:listener doc:name="Listener" doc:id="2fa6ba49-b1e4-4241-80ad-fcdbcbce6b42" path="/dummy" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["hello dummy"]' doc:name="Set Payload" doc:id="c7c94880-38c4-47d0-91e2-07dd05c6709a" />
	</flow>
</mule>
